@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

body, html {
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
}


.inputbox:focus::placeholder {
    color: transparent;
}

.inputbox::placeholder {
    padding-left: 14px;
}

.chatbox {
    background-size: cover;
    background-repeat:repeat;
    background-position:right;
    
}

.chatbox::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.bg-pan-left {
	-webkit-animation: bg-pan-left 4s infinite alternate;
	        animation: bg-pan-left 4s infinite alternate;
            transition: all;
}


@-webkit-keyframes bg-pan-left {
    0% {
      background: #5a189a;
    }
    100% {
      background: #03045e;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: #5a189a;
    }
    100% {
      background: #03045e;
    }
  }

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
.tx-shadow {
    text-shadow: 6px 6px 18px rgba(0, 102, 0, 0.3);
}

.inset {
    box-shadow: inset 0 0 14px 8px rgba(0, 0, 0, 0.5);
}